<div class="ML_Form">
		<h2>Apollo diz que com:</h2>
	    <form action="/submit" method='POST'>
			<p>	
				<p>
					<label for="input1">Ataque do time mandante igual a:</label><br>
					<input type="number" name="input1" step=0.01>
				</p>
				<p>
					<label for="input2">Defesa do time mandante igual a:</label><br>
					<input type="number" name="input2" step =0.01>
				</p>
				<p>
					<label for="input3">Defesa do time visitante igual a:</label><br>
					<input type="number" name="input3" step = 0.01>
				</p>
				<p>
					<label for="input4">Ataque do time visitante igual a:</label><br>
					<input type="number" name="input4" step=0.01>
					<p><button type="submit">Submit</button></p>
				</p>
			</p>	
		</form>
	</div>